extends layout

block content
  h1= About Myself
  
  p Hey everyone! My name is Daaman Kaushal and i am student of     Georgian College pursuing Computer Programming Program and i    am in my final year of my program. I am currently working as    a Sales Associate at Rogers Communication and also i have a 4   months experience working as a Databse Analyst. Other than      that i like to :-
  ul
    li Play Games 
    li Play Basketball
    li Listening Music 

