//- contactme.pug
//- Daaman kaushal

extends layout

block content
  h4 Contact me
  a(href="#" class="fa fa-linkedin")
  a(href="#" class="fa fa-instagram")
  a(href="#" class="fa fa-snapchat-ghost")
