//- projects.pug
//- Daaman kaushal

extends layout

block content
  h4 Projects
  p1 Welcome to my projects page

  h2 Calculator
  p1 Basic calculator based on Android Studio and java which can work on any android device. It can use basic 4 mathematical operations with decimal included in that.

  h2 CrossRoads
  p1 Online shopping store with ASP.NET and MVC5.

  h2 Acclerometer Mouse
  p1 Accelerometer mouse which was programmed by doing Arduino programming. This mouse can work like all another PC mouse but with high sensitivity
